{% extends 'layout.html' %}


{% block content %}
    <h1>{{ h1 }}</h1>
    <div class="grid-row">
      <div>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
          book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
          recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p>
          Why do we use it?
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
          'Content here, content here', making it look like readable English.
        </p>
      </div>
    </div>

    <h2>Header Level Two</h2>
    <div class="grid-row">
      <div>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
          book.
        </p>
        <p>
          Why do we use it?
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        </p>
      </div>
    </div>

    <div class="grid-row">
      <table class="usa-table" id="state-table">
        <caption>Example Table</caption>
        <thead>
          <tr>
            <th>Example</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><a id="Alabama"></a>Lorem ipsum</th>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Libero id faucibus nisl tincidunt. Aliquet nec ullamcorper sit amet risus nullam eget felis. Ut enim blandit volutpat maecenas.</td>
          </tr>
          <tr>
            <th><a id="Alaska"></a>Lorem ipsum</th>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Libero id faucibus nisl tincidunt. Ut enim blandit volutpat maecenas. Volutpat commodo sed egestas egestas fringilla phasellus faucibus.</td>
          </tr>
          <tr>
            <th><a id="Arizona"></a>Lorem ipsum</th>
            <td>Aliquet nec ullamcorper sit amet risus nullam eget felis. Ut enim blandit volutpat maecenas. Volutpat commodo sed egestas egestas fringilla phasellus faucibus.</td>
          </tr>
          <tr>
            <th><a id="Arkansas"></a>Lorem ipsum</th>
            <td>Ut enim blandit volutpat maecenas. Volutpat commodo sed egestas egestas fringilla phasellus faucibus.</td>
          </tr>
          <tr>
            <th><a id="California"></a>Lorem ipsum</th>
            <td>Volutpat commodo sed egestas egestas fringilla phasellus faucibus.</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="grid-row margin-top-3 grid-gap">
      <div class="tablet:grid-col">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
      </div>
      <div class="tablet:grid-col">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
      </div>
    </div>

    <div class="grid-row margin-top-3 grid-gap">
      <div class="tablet:grid-col">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>
      <div class="tablet:grid-col">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
      </div>
    </div>

    <div class="grid-row margin-top-3 grid-gap">
      <div class="tablet:grid-col">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
      </div>
      <div class="tablet:grid-col">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
      </div>
      <div class="tablet:grid-col">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
      </div>
    </div>
{% endblock %}
