<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="description" content={{description}}>
    <link rel="shortcut icon" href="/static/imgs/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='uswds-2.5.0/css/uswds.min.css') }}">
    <script src="{{ url_for('static', filename='uswds-2.5.0/js/uswds.min.js') }}"></script>
  </head>

  <body>
    {% include 'banner.html' %}
    {% include 'navigation.html' %}
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
  </body>
</html>